/* Navigation bar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar_element {
  float: left;	
}

.navbar_element a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar_element a:hover {
  background-color: #111;
}

/*Header image */
header img {
  width: 100vw;
}
