.nav_header {
  background-color:rgba(36, 38, 51, 0.2);
  transition: background-color 1s ease-out 20ms
}

.nav_header:hover {
  background-color:rgba(36, 38, 51, 1);
}

/*Navbar*/
nav {
  position: sticky;
  top: 0;
  Z-index: 1;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar_element {
  float: left;	
}

.navbar_element a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 700;
}

.navbar_element a:hover {
  text-decoration: underline;
}

/*Header*/
header {
  display: flex;
  overflow: hidden;
  width: 99vw;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Body*/
body {
 background: url("./images/background.jpg");
 background-size: cover;
 background-attachment: fixed;
}
