nav {
  position: sticky;
  top: 0;
  Z-index: 1;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f59a38;
}

.navbar_element {
  float: left;	
}

.navbar_element a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar_element a:hover {
  background-color: #a16525;
}

/*Header image */
header img {
  width: 100vw;
}

body {
 background: url("./images/background.jpg");
 background-size: cover;
}
