nav {
  position: sticky;
  top: 0;
  Z-index: 1;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

.navbar_element {
  float: left;	
}

.navbar_element a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar_element a:hover {
  text-decoration: underline;
}

/*Header*/
header {
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 99vw;
  opacity: 0;
  background: url("./images/header_image.jpg");
}

header img {
  
}

/*Body*/
body {
 background: url("./images/background.jpg");
 background-size: cover;
}
